*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
}
.content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-form{
    padding: 20px;
    border: 1px solid rgb(148, 163, 179);
    border-radius: 5px;
    background-color:whitesmoke;
    width: 300px;
    user-select: none;
}
.form-heading{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    background: linear-gradient(to right, red, black);;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 40px;
}
.email, .password, .submit-btn{
    margin-bottom: 8px;
    border: 1px solid rgb(187, 183, 183);
    background-color: white;
    padding: 5px;
    font-size: 15px;
    width: 100%;
}

.submit-btn{
    margin-top: 15px;
}
.email:focus, .password:focus{
    outline: 1px solid rgb(129, 124, 124);
}

.submit-btn{
    color: red;
}

.submit-btn:hover{
    background-color: red;
    color: white;
    border: none;
}
.forget-pwd{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.forget-pwd a{
    font-size: 15px;
    text-decoration-line: none;
    font-weight: bold;
    color: darkblue;
}
.forget-pwd a:hover{
    text-decoration-line: underline;
}

.have-account{
    font-size: 1em;
    margin-top: 5px;
    text-align: center;
}
.have-account a{
    text-decoration-line: none;
    font-weight: bold;
    color: darkblue;
}

.have-account a:hover{
    text-decoration-line: underline;
}

/* Handle errors */
.have-error{
    margin-bottom: 0px;
}
.invalid-feedback{
    margin-bottom: 8px;
}

#flash ul{
    background: rgba(254, 199, 199, 0.651);
    margin-top: 50px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: -20px;
}
#flash ul li.error{
    list-style-type: none;
    color: red;
}
#flash ul li .flash-cls{
    float: right;
    background: none;
    border: none;
}
